<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvsVWgAEff7I3NNdFIkcrF10Lfy6Y-LcA</string>
	<key>GCM_SENDER_ID</key>
	<string>980338010782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tringapps.GetAndPostLearning.MovieWidget</string>
	<key>PROJECT_ID</key>
	<string>moviestreamingapp-da73e</string>
	<key>STORAGE_BUCKET</key>
	<string>moviestreamingapp-da73e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980338010782:ios:6dcbb02573dd0f53d7298f</string>
</dict>
</plist>